/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #555555;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	border-bottom: 1px solid #ccc;
}

h1 a {
	color: #98ADA6;
	text-decoration: none;
}

h1 a:hover {
	color: #6F7F7A;
}

h2 {
	color: #6F7F7A;
}

header img {
	border: 5px #98ADA6 solid;
}

#press img {
	border: 5px solid #ccc;
	padding: 1px;
}

/* rollover color is #6F7F7A */

footer {
	text-align: right;
}
